<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="ikon.ZPM">
    <Module>
      <Name>Ikon</Name>
      <Version>1.0.4</Version>
      <Description>Identicon generator for Intersystems Caché. Good to use in Mojo applications.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Ikon.PKG"/>
    </Module>    
  </Document>
</Export>
